/* hcp modifications */

.toppane-header {
	vertical-align: middle;
	padding: .45em 11px .45em 11px;
}

.toppane-body {
	padding: 11px;
	height: 100%;
	overflow-y: auto;
}

.sys-toppane-color-border {
	border-width: 1px;
	border-style: solid;
}

.sys-link-disabled {
	cursor: default !important;
	color: #999999 !important;
}

.sys-link-disabled img {
	filter: alpha(opacity=40);
}

/* hcp modifications */

body {
	margin: 11px;
	overflow: hidden;
	border-right: 3px solid #2459C3;
}

body, td, button, input, select {
	font: messagebox;
}

form { margin: 0px; }

table {
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

td {
	width: 100%;
	vertical-align: top;
	padding: 0px;
}

div#eUserData {
	behavior: url(#default#userData);
	display: none;
}

a#eHardwareSupport {
	display: none;
}

div#eAvailableUpdatesDiv {
	display: none;
	margin: 0px 0px 0px 16px; /* rtl */
	
}
table#eAvailableUpdatesTable 
{
	display: none;
	margin: 0px 0px -5px -2px;
}

.subHeader {
	margin: 18px 4px 4px 4px;
}

/* links */

a {
	width: 100%;
	padding: .35em 5px .35em 23px; /* rtl */
}

a i { font-style: normal; }
a u { text-decoration: none; }

a img {
	border-width: 0px;
	margin: 0px 0px -1px -17px; /* rtl */
	width: 11px;
	height: 11px;
}

LI
{
	padding: 2px;
	margin-left: 11px;
	list-style-type: none;
	text-align: left;
	text-decoration: none;
}

LI.CategoryLI 
{
	margin-left: 2.5px;
}

UL.UpdateCategory
{
	margin-left: 8px;
}

UL.UpdateLevel LI.Level1
{
	margin-left: 15px;
}

UL.UpdateLevel LI.Level2 
{
	margin-left: 20px;
}

UL.UpdateLevel LI.Level3 
{
	margin-left: 25px;
}

UL.UpdateLevel LI.Level4
{
	margin-left: 30px;
}

UL
{
	padding-bottom: 1px;
	margin-left: 13px;
	padding-top: 1px;
	list-style-type: none;
}

ul.RootUL
{
	text-indent: -5px ; 
	margin-left: -10px;
}

UL.UpdateCategory,UL.UpdateLevel
{ 
	 display:none ; 
}

.HideCategory ,.NoUpdates
{
	display:none ; 
}


A:hover
{
	text-decoration: underline;
}

